<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PurchaseMapper">
 	
	<resultMap id="purchaseSelectMap" type="purchase">
		<result property="tranNo" column="tran_no" jdbcType="NUMERIC"/>
		<result property="buyer.userId" column="buyer_id" jdbcType="VARCHAR"/>
		<result property="purchaseProd.prodNo" column="prod_no" jdbcType="NUMERIC"/>
		<result property="paymentOption" column="payment_option" jdbcType="VARCHAR"/>
		<result property="receiverName" column="receiver_name" jdbcType="VARCHAR" />
		<result property="receiverPhone" column="receiver_phone" jdbcType="VARCHAR"/>
		<result property="dlvyAddr" column="demailaddr" jdbcType="VARCHAR"/>
		<result property="dlvyRequest" column="dlvy_request" jdbcType="VARCHAR"/>
		<result property="dlvyDate" column="dlvy_date" jdbcType="DATE"/>
		<result property="tranCode" column="tran_status_code" jdbcType="VARCHAR"/>
		<result property="count" column="count" jdbcType="INTEGER"/>
	</resultMap>
	
	<!-- SQL : INSERT -->
	<insert id="addPurchase" parameterType="purchase" >
	 	INSERT
		INTO transaction ( tran_no , prod_no , buyer_id, payment_option , receiver_name, receiver_phone, demailaddr, dlvy_request, tran_status_code, dlvy_date ) 
		VALUES(	seq_transaction_tran_no.nextval , #{purchaseProd.prodNo} , #{buyer.userId} , #{paymentOption:VARCHAR} , #{receiverName:VARCHAR} , #{receiverPhone:VARCHAR}, #{dlvyAddr:VARCHAR}, #{dlvyRequest:VARCHAR} , #{tranCode:VARCHAR},  #{dlvyDate:DATE} )
	</insert>
	
	<select id="getPurchase" parameterType="int" resultMap="purchaseSelectMap">
		SELECT tran_no , prod_no , buyer_id, payment_option , receiver_name, receiver_phone, demailaddr, dlvy_request, tran_status_code,  dlvy_date
		FROM transaction 
		WHERE tran_no = #{value}
	</select>
	
	<select id="getPurchase2" parameterType="int" resultMap="purchaseSelectMap">
		SELECT tran_no, tran_status_code
		FROM transaction 
		WHERE prod_no = #{value}
	</select>
	
	<select id="getPurchaseList" parameterType="search" resultMap="purchaseSelectMap">
		
		SELECT * 
		FROM ( SELECT ROW_NUMBER() OVER(order by user_id) rn , ts.tran_no, u.user_id, TRIM(NVL(ts.tran_status_code,0)) tran_status_code, prod_no, receiver_phone, COUNT(*)OVER() count 
			   FROM users u, transaction ts 
			   WHERE u.user_id = ts.buyer_id AND u.user_id = #{list[1]}) purchase 
		WHERE rn BETWEEN #{list[0].startRowNum} AND #{list[0].endRowNum} 
	
	</select>
	
	<update id="updatePurchase" parameterType="purchase">
		UPDATE transaction 
		<set>
			<if test="paymentOption != null"> payment_option = #{paymentOption} , </if>
			<if test="receiverName != null"> receiver_name = #{receiverName} , </if>
			<if test="receiverPhone != null"> receiver_phone = #{receiverPhone} , </if>
			<if test="dlvyAddr != null"> demailaddr = #{dlvyAddr} , </if>
			<if test="dlvyRequest != null"> dlvy_request = #{dlvyRequest} , </if>
			<if test="dlvyDate != null"> dlvy_date = #{dlvyDate} , </if>
		</set>
		WHERE tran_no= #{tranNo}
	</update>	
	
	<select  id="getTotalCount"  parameterType="search"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT buyer_id , prod_no , tran_no
						FROM transaction
						<if test="searchCondition != null">
							<where>
								<if test="searchCondition == 0 and searchKeyword !='' ">
						 			buyer_id = #{searchKeyword}
								</if>
								<if test="searchCondition == 1 and searchKeyword !='' ">
						 		prod_no = #{searchKeyword}
								</if>
							</where>
						</if> ) countTable						
	 </select>
	 
	 <update id="updateTranCode" parameterType="purchase">
		UPDATE transaction 
		SET tran_status_code = #{tranCode}
		WHERE tran_no = #{tranNo}
	</update>
	
</mapper>